* {
  box-sizing: border-box;
}
html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #2b4b6b;
  min-width: 1400px;
}
/* 面包屑导航样式 */
.el-breadcrumb {
  font-size: 12px;
  margin-bottom: 15px;
}
/* 卡片显示样式*/
.el-card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}
/* 表格样式 */
.el-table,
.zk-table {
  margin-top: 15px;
  font-size: 12px;
}
th,
td {
  text-align: center !important;
}
/* 分页数据样式 */
.el-pagination {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  font-size: 12px !important;
}
/* 警示信息样式 */
.el-alert {
  margin-bottom: 15px;
}
/* 级联菜单高度 */
.el-cascader-menu {
  max-height: 300px;
}
/* 标签外边距 */
.el-tag {
  margin: 5px;
}
/* 步骤条样式 */
.el-step__icon,
.el-step__title {
  font-size: 12px !important;
}
/* 参数表格样式 */
.goodsPropsForm > .el-form-item {
  margin-bottom: 0;
}
.goodsPropsForm > .el-form-item > .el-form-item__label {
  margin-left: 0 !important;
  float: none;
}
.goodsPropsForm > .el-form-item > .el-form-item__content {
  margin-left: 0 !important;
  margin-top: 10px;
}
/* 复选框样式 */
.el-checkbox {
  margin-left: 0 !important;
  margin-right: 10px;
}
/* 富文本编辑器样式 */
.ql-container {
  min-height: 250px;
}
